* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 3rem;
    width: 15rem;
    background-color: red;
    margin-left: 40%;
    margin-top: 1rem;
    text-align: center;
}
.page-image{
    height: 20rem;
    width: 20rem;
}
.page-image img {
    height: 18rem;
    width: 18rem;
}